AVAILABILITY_URL=https://ca.ovh.com/engine/api/dedicated/server/availabilities?country=we

INPUT_FILE=./servers.json

# How often the checker should run, if variable is not set, it will run only once
# Every minute
# CRON_SCHEDULE=* * * * *
# Every second
# CRON_SCHEDULE=* * * * * *
# Every 30 seconds
CRON_SCHEDULE="*/30 * * * * *"

LOGS_DIR=./logs

# Email
EMAIL_ENABLE=false
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME="OVH Availability Checker"
EMAIL_SUBJECT="Server Available"
EMAIL_TO_ADDRESS=

# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_IS_SECURE=false
SMTP_USER=
SMTP_PASS=

# Pushbullet
PUSHBULLET_ENABLE=false
PUSHBULLET_API_TOKEN=
PUSHBULLET_DEVICE_ID=
PUSHBULLET_NODE_TITLE="OVH Server Available"

# SMS
SMS_ENABLE=false
# Include plus and country code (ie: +1...), only numbers, no spaces nor dashes
SMS_TO_NUMBER=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_FROM=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_SECRET=
TWILIO_SID=

# Telegram
TELEGRAM_ENABLE=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# DataSet logger
DATASET_LOGGER_ENABLE=false
DATASET_LOGGER_API_KEY=
# Only needed if using a different cluster than the US one
# DATASET_LOGGER_SERVER_URL=
