# language: node_js
# node_js:
#   - 12

services:
  - docker

before_install:
  - docker build -t yorch/ovh-availability-checker .

script:
  - docker run -d --name checker yorch/ovh-availability-checker
  - docker logs checker
  - docker ps -a
